label{
    display: block;
    padding: 10px;
    margin-left: 20px;
}

body{
    width: 500px;
    
}

form{
   background-color: gainsboro;
    padding: 20px;
    font-size: 20pt;
}

.button{
  background-color: dodgerblue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
}

*{
    text-align: right;
}

#mind{
    text-align: left;
}