tr:nth-child(even){
    background-color: gainsboro;
}

*{
    font-family: sans-serif;
}

h1{
    background-color: maroon;
    color: white; 
    margin-bottom: 0; 
    margin-top: 0;
}


.label1{
    border-right: 1px solid white;
    display: inline-block;
    position: relative;
    margin-right: 1px white;
    padding: 5px;   
}

li{
    border-right:1px; 
    color: white;
    display: block;
}

a{
    text-decoration-line: none;
    color: white;
}

#main{
    background-color: navy;
    color: white;
    text-align: left;
    list-style: none;
   
}

ul{
    list-style: none;
    padding-left: 0;
    margin-top: 0;
}

.label1:hover .ma {
    background-color:dimgrey;
    cursor: pointer;
    display: block;
    padding: 10px;
}

a:hover{
    background-color: grey;
}

.label2{
    
    left: auto;
    right:0;
    top:100%;
    width: 50px;
    text-align: left;
    font-size: 20pt;
}

.ma{
    position: absolute;
    text-align: left;
    background-color:gray;
    box-shadow: 5px 5px 5px grey;
    display: none;
    left: 0;
    border-bottom: 1px white;
    border-right: 5px white;
}

.mb{
   position: absolute;
    background-color: gray;
    
}

table{
    margin-left: auto;
    margin-right: auto;
}

body{
    margin: 0;
}

td:last-child{
  text-align: right;  
}

.menu{
    display: none;
    position: absolute;
}



@media(max-width: 40em){
    nav{display: none;}
    header{position: absolute;
            width:100%;
    }
    .menu{display: inline-block;
        right: 0;     
        bottom:auto;
    }
    
    table{
        padding-top: 100px;
    }
    .mb{display: none;}
    .label2:hover .mb{display:block;}
    a{font-size: 10pt;}
    .mb li:hover{ background-color: gainsboro;}
    
}
