*{
    max-width: 900px;
}
nav{
    background-color: lightblue;
    padding: 5px;
    float:left;
    margin: 0;
    overflow: auto;
    height: 300px;
}

h1{
    text-align: center;
    font-size: 45pt;   
}

h2{
    text-align: center;
    margin-top: 0;
}

main{
    height: 700px;
    background-color: azure
}

ul{
    list-style: none;
    font-size: 15pt;
    
}
p{
    margin-left: 150px;
    margin-right: 100px;
}

#about{
    background-image: url(about1.png);
    width: 700px;
    height: 200px;
    background-size: 100%;
    margin-left: 150px;


}
