*{
    max-width: 900px;
}
nav{
    background-color: lightblue;
    padding: 5px;
    float:left;
    margin: 0;
    overflow: auto;
    height: 300px;
}

h1{
    text-align: center;
    font-size: 45pt;
    margin-bottom: 0;
}

main{
    height: 1600px;
    background-color: azure
}

ul{
    list-style: none;
    font-size: 15pt;
    
}

#jobs{
    background-image: url(jobs.jpg);
    width: 600px;
    height: 350px;
    background-size: 100%;
    margin-left: 160px;
}

p{
    margin-left: 150px;
    margin-right: 100px;
}

#math{
    background-image: url(math.jpg);
    width: 600px;
    height: 350px;
    background-size: 100%;
    margin-left: 160px;
}

#connections{
    background-image: url(connections.jpg);
    width: 600px;
    height: 350px;
    background-size: 100%;
    margin-left: 160px;
}