*{
    max-width: 900px;
}
nav{
    background-color: lightblue;
    padding: 5px;
    float:left;
    margin: 0;
    overflow: auto;
    height: 300px;
}

h1{
    text-align: center;
    font-size: 45pt;
    
}

h2{
    margin-left: 150px;
    font-size: 15pt;
}

main{
    height: 1000px;
    background-color: azure
}

ul{
    list-style: none;
    font-size: 15pt;
    
}
#danielle{
    background-image: url(danielle.jpg);
    width: 150px;
    height: 150px;
    background-size: 100%;
    margin-left: 160px;
}

#jake{
    background-image: url(jake.jpg);
    width: 150px;
    height: 150px;
    background-size: 100%;
    margin-left: 160px;
}

#kevin{
    background-image: url(kevin.jpg);
    width: 150px;
    height: 150px;
    background-size: 100%;
    margin-left: 160px;
}