*{
    max-width: 900px;
}
nav{
    background-color: lightblue;
    padding: 5px;
    float:left;
    margin: 0;
    overflow: auto;
    height: 300px;
}

h1{
    text-align: center;
    font-size: 45pt;
    margin-bottom: 0;
}

h2{
    text-align: center;
    margin-top: 0;
}

main{
    height: 1000px;
    background-color: azure
}

ul{
    list-style: none;
    font-size: 15pt;
    
}

label{
    display: block;
    padding: 10px;
    margin-left: 150px;
}


}

form{
   background-color: gainsboro;
    padding: 20px;
    font-size: 20pt;
}

.button{
  background-color: dodgerblue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 150px;
    
}

textarea{
    margin-left: 150px;
}



#mind{
    text-align: left;
}

p{
    margin-left: 150px;
    margin-right: 100px;
}

#join{
    background-image: url(join.jpg);
    width: 600px;
    height: 350px;
    background-size: 100%;
    margin-left: 160px;
}