body{
    background-color: lightblue;
}

h3{
    font-size: 24pt;
    color:darkblue;
    font-family: oswald;
    text-shadow: 1px 1px 1px #000000;
    margin-bottom: 0;
    margin-top: 0
}

.answer {
    font-family: Raleway;
}